.gradle
/build/
/.idea/

# Ignore C headers that are used to build library for MinGW
*.h
*.am
# But do not ignore headers that are generated while building from sources
!src/mingwX64Main/resources/include/jsonc/json_config.h
!src/mingwX64Main/resources/include/msgpackc/msgpack/pack_template.h
!src/mingwX64Main/resources/include/msgpackc/msgpack/sysdep.h

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
