.gradle
/build/
/.idea/

# Ignore C headers that are used to build library for MinGW
*.h
*.am
# But do not ignore json_config.h because it is generated while building json-c
!src/mingwX64Main/resources/include/jsonc/json_config.h

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
